# environments
# leaving these in for demo purposes
# /config/environments
# .env

# data file is too large for Github
/docker-entrypoint-initdb.d/poi.json

# dependencies
/node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log

# example
/quick-start

# tests
/test
/coverage
/.nyc_output

# dist
/dist